@media (min-width: 300px) {
  #nomeNoivos {
    margin: 20% 7%;
    margin-bottom: 1rem;
    position: absolute;
    font-size: 1.2em;
  }
}

@media (min-width: 576px) {
  #nomeNoivos {
    margin: 20% 7%;
    margin-bottom: 1rem;
    position: absolute;
    font-size: 2em;
  }
}

@media (min-width: 768px) {
  #nomeNoivos {
    margin: 20% 7%;
    margin-bottom: 1rem;
    position: absolute;
    font-size: 2.7em;
  }
}

@media (min-width: 992px) {
  #nomeNoivos {
    margin: 20% 7%;
    margin-bottom: 1rem;
    position: absolute;
    font-size: 3.5em;
  }
}

@media (min-width: 1200px) {
  #nomeNoivos {
    margin: 20% 7%;
    margin-bottom: 1rem;
    position: absolute;
    font-size: 4.3em;
  }
}

@media (min-width: 300px) {
  #saveTheData {
    margin: 25% 7%;
    margin-bottom: 1rem;
    position: absolute;
    font-size: 1.2em;
  }
}

@media (min-width: 576px) {
  #saveTheData {
    margin: 25.5% 7%;
    margin-bottom: 1rem;
    position: absolute;
    font-size: 2em;
  }
}

@media (min-width: 768px) {
  #saveTheData {
    margin: 26% 7%;
    margin-bottom: 1rem;
    position: absolute;
    font-size: 2.7em;
  }
}

@media (min-width: 992px) {
  #saveTheData {
    margin: 26% 7%;
    margin-bottom: 1rem;
    position: absolute;
    font-size: 3.5em;
  }
}

@media (min-width: 1200px) {
  #saveTheData {
    margin: 27% 7%;
    margin-bottom: 1rem;
    position: absolute;
    font-size: 4.3em;
  }
}

@media (min-width: 300px) {
  #data {
    margin: 30% 7%;
    margin-bottom: 1rem;
    position: absolute;
    font-size: 1.2em;
  }
}

@media (min-width: 576px) {
  #data {
    margin: 31% 7%;
    margin-bottom: 1rem;
    position: absolute;
    font-size: 2em;
  }
}

@media (min-width: 768px) {
  #data {
    margin: 32% 7%;
    margin-bottom: 1rem;
    position: absolute;
    font-size: 2.7em;
  }
}

@media (min-width: 992px) {
  #data {
    margin: 32% 7%;
    margin-bottom: 1rem;
    position: absolute;
    font-size: 3.5em;
  }
}

@media (min-width: 1200px) {
  #data {
    margin: 34% 7%;
    margin-bottom: 1rem;
    position: absolute;
    font-size: 4.3em;
  }
}

@media (min-width: 300px) {
  #diasRestantes {
    margin: 35% 7%;
    margin-bottom: 1rem;
    position: absolute;
    font-size: 1.2em;
  }
}

@media (min-width: 576px) {
  #diasRestantes {
    margin: 36.5% 7%;
    margin-bottom: 1rem;
    position: absolute;
    font-size: 2em;
  }
}

@media (min-width: 768px) {
  #diasRestantes {
    margin: 38% 7%;
    margin-bottom: 1rem;
    position: absolute;
    font-size: 2.7em;
  }
}

@media (min-width: 992px) {
  #diasRestantes {
    margin: 38% 7%;
    margin-bottom: 1rem;
    position: absolute;
    font-size: 3.5em;
  }
}

@media (min-width: 1200px) {
  #diasRestantes {
    margin: 41% 7%;
    margin-bottom: 1rem;
    position: absolute;
    font-size: 4.3em;
  }
}

@media (min-width: 300px) {
  .navbar.navbar-light.navbar-expand-md {
    margin: 0px;
    margin-top: -45px;
  }
}

@media (min-width: 768px) {
  .navbar.navbar-light.navbar-expand-md {
    margin: 0px;
    margin-top: -65px;
  }
}

