<div class="row">
        <div class="col">
            <footer class="footer-basic">
                <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-linkedin"></i></a><a href="#"><i class="icon ion-social-github"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
                <ul class="list-inline">
                    <li class="list-inline-item"><a routerLink="">Início</a></li>
                    <li class="list-inline-item"><a routerLink="historia">Nossa História</a></li>
                    <li class="list-inline-item"><a routerLink="fotos">Fotos</a></li>
                    <li class="list-inline-item"><a routerLink="convidados">Confirme sua Presença</a></li>
                    <li class="list-inline-item"><a routerLink="presente">Nos Presenteie</a></li>
                    <li class="list-inline-item"><a routerLink="informacoes">Informações do Casamento</a></li>
                </ul>
                <p class="copyright">Gabriel Seles © 2021</p>
            </footer>
        </div>
    </div>
