<div class="row">
        <div class="col">
            <footer class="footer-basic">
                <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-linkedin"></i></a><a href="#"><i class="icon ion-social-github"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="#">Início</a></li>
                    <li class="list-inline-item"><a href="#">Nossa História</a></li>
                    <li class="list-inline-item"><a href="#">Fotos</a></li>
                    <li class="list-inline-item"><a href="#">Confirme sua Presença</a></li>
                    <li class="list-inline-item"><a href="#">Nos Presenteie</a></li>
                    <li class="list-inline-item"><a href="#">Informações do Casamento</a></li>
                </ul>
                <p class="copyright">Gabriel Seles © 2021</p>
            </footer>
        </div>
    </div>
