<div class="row">
        <div class="col">
            <h1 class="text-center" style="margin-top: 30px;margin-bottom: 30px;background: #edf8fa;font-size:5.5vw;font-family: 'Chewy', cursive;">Sejam Bem Vindos</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1 class="text-center" style="font-size:3.5vw;font-family: 'Kaushan Script', cursive;">"Demorou, mas chegou o grande dia. Se você ainda não acredita está convidado a conferir"<br></h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1 class="text-center" style="font-size:2.3vw;font-family: 'Old Standard TT', serif;"><br><em>Deixamos aqui todas as informações importantes para que esse dia seja especial para você como será para nós. Esperamos você lá. Enquanto isso, veja as fotos de nossa história.</em><br><br></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 text-center" style="background: #edf8fa;"><img class="img-fluid" src="assets/img/WhatsApp_Image_2021-03-02_at_00.56.52-removebg-preview.png"></div>
    </div>
