<div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 style="padding: 70px;">Bora pra festa?</h1>
            </div>
            <div class="col-md-6">
                <h3 class="text-center"><br><em>Nada é mais lindo do que ver uma história de amor se concretizar. É o que estamos fazendo juntos: amando, vivendo e construindo juntos um sonho. Ter você aqui é a certeza dessa realização, mas precisamos que confirme sua presença no nosso grande dia.</em><br><br></h3>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="padding-top: 82px;">
                <h1 class="float-right">Nome:&nbsp;<input type="text"></h1>
                <h1 class="float-right">Sobrenome:&nbsp;<input type="text"></h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row" style="padding-top: 69px;">
            <div class="col"><button class="btn btn-primary float-right" type="button">Confirmar</button></div>
        </div>
    </div>
