<div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 style="padding: 70px;font-size:5.5vw;font-family: 'Chewy', cursive;">Bora pra festa?</h1>
            </div>
            <div class="col-md-6">
                <h3 class="text-center" style="font-size:2.3vw;font-family: 'Old Standard TT', serif;"><br><em>Nada é mais lindo do que ver uma história de amor se concretizar. É o que estamos fazendo juntos: amando, vivendo e construindo juntos um sonho. Ter você aqui é a certeza dessa realização, mas precisamos que confirme sua presença no nosso grande dia.</em><br><br></h3>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12" style="padding-top: 82px;">

                <h1 class="float-right" style="font-size:4.6vw;font-family: 'Chewy', cursive;">
                  Nome:&nbsp;<input type="text" style="border-color:#578ec8;border-style:solid;border-radius:10px;border-width:5px 5px 5px 6vw;width:35vw;">
                </h1>

                <h1 class="float-right" style="font-size:4.6vw;font-family: 'Chewy', cursive;">
                  Sobrenome:&nbsp;
                <input type="text" style="border-color:#578ec8;border-style:solid;border-radius:10px;border-width:5px 5px 5px 6vw; width:35vw;"></h1>

            </div>
        </div>
    </div>
    <div class="container">
        <div class="row" style="padding-top: 69px;">
            <div class="col"><button class="float-right" type="button" id="btnConfirmar">Confirmar</button></div>
        </div>
    </div>
