<p id="nomeNoivos" style="color:white;font-family: 'Cabin Sketch', cursive;">Andreia & Gabriel</p>
    <p id="saveTheData" style="color:white;font-family: 'Parisienne', cursive;">Save The Data</p>
    <p id="data" style="font-family: 'Lemonada', cursive;color:white">25.09.2021</p>
    <p id="diasRestantes" style="font-family: 'Lemonada', cursive;color:white">Faltam {{diasRestantes}} dias</p><img class="img-fluid d-lg-flex" src="assets/img/pixar-up-house.png" width="100%" height="100%" style="margin-top: 0px;">
    <nav class="navbar navbar-light navbar-expand-md">
        <div class="container-fluid"><a class="navbar-brand" style="font-weight:bolder" routerLink="/">Início</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav">
                    <li id="navBar"class="nav-item"><a class="nav-link active" routerLink="historia">Nossa História</a></li>
                    <li id="navBar"class="nav-item"><a class="nav-link active" routerLink="fotos">Fotos</a></li>
                    <li id="navBar"class="nav-item"><a class="nav-link active" routerLink="convidados">Confirme sua Presença</a></li>
                    <li id="navBar"class="nav-item"><a class="nav-link active" routerLink="presente">Nos presenteie</a></li>
                    <li id="navBar"class="nav-item"><a class="nav-link active" routerLink="informacoes">Informações do Casamento</a></li>
                </ul>
            </div>
        </div>
    </nav>
