<div class="container">
        <div class="row text-left">
            <div class="col-md-12">
                <h1 class="text-left">Nosso presente é você!<br></h1>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-12">
                <h1 class="text-center">Queríamos ter tudo, mas tudo não podemos ter. Só conseguiremos comprar se você escolher.Escolha com carinho e nos dê este mérito. Não vai valer economizar no cartão de crédito.<br></h1>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-12">
                <h1 class="text-center"><em>Como estamos sempre pensando no melhor para os nossos convidados, deixamos nossa lista de presentes em uma das lojas mais fáceis de encontrar. Nossa lista está no site do Ponto Frio, fique a vontade para nos presentearem como quiserem.</em><br></h1>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-12"><button class="btn btn-primary" type="button">Lista de Presentes</button></div>
        </div>
    </div>
