<div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 style="margin-top: 30px;margin-bottom: 30px;background: #edf8fa;font-size:5.5vw;font-family: 'Chewy', cursive;">Onde vai ser o festão?<br></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h1 style="font-size:2.3vw;font-family: 'Old Standard TT', serif;"><em>Local da Cerimônia (Igreja) : Paróquia Santo AntônioHorário: 17:30h<br>Endereço: R. Venceslau Brás, 106 - Vila Caldas, 06310-080 - Carapicuíba.</em><br></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h1 style="font-size:2.3vw;font-family: 'Old Standard TT', serif;"><em>Local da Recepção (Festa) : Espaço Karina'sHorário: 19:00h<br>Endereço: Estrada do Copiúva, 741 - Pq. Jandaia, 06330000 - Carapicuíba.</em><br></h1>
            </div>
        </div>
    </div>
